.home_page_frame{
  width: 1000px;
  margin: 0px auto;
}

a.home_page_frame{
  width: 1000px;
  margin: 0px auto;
}

.container{
  width: 1000px;
  background-color: #EDEBE1;
  padding-top: 10px;/* Remove this to show margin collapse problem */
  padding-bottom: 20px;
}

.header_container{
  width: 950px;
  margin: 0 auto;
  height: 102px;
}

.cart_img img{
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -30px;
}

.cart_img p{
  display: inline-block;
  float: right;
  font-size: 0.8em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  color: #8C8C8C;
  padding-top: 5px;
}

.header_menu{
  margin-top: 40px;
  height: 28px;
  background-color: #D6D4C8;
}

.header_menu ul li{
  float: left;
  list-style: none;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  margin: 0;

}

.header_menu ul li a{
  display: block;
  background-color: #D6D4C8;
  text-decoration: none;
  margin: 0;
  padding: 5px 24px;
  color: #a1a1a1;
  font-size: 1em;
  
}

.header_menu ul li a:hover{
  background-color: #C0BEB0;
  color: #F5F3E3;
}



.dropdown_container{
  position: absolute;
  margin-left: 0px;
  z-index:6001;
}

.dropdown_container ul{
  margin: 0;
  padding: 0;
}

.dropdown_container ul li{
  float: none;
  display: inline;
}

.dropdown_container ul li a{
  background-color: #D9D7CB;
  padding-right: 50px;
  border-bottom: 1px solid #E0DED3;
}

.logo_box img{
  width: 245px;
  height: 40px;
  margin-top: -8px; //check if appropriate
}

.menu_underline{
  clear: both;
  height: 2px;
  border-bottom: solid 2px #E0DED3;
}

#slideshow{
  width: 950px;
  height: 300px;
  margin: 0 auto;
  margin-top:25px;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}


#slideshow > div { 
    position: absolute; 
}


.collection_row{  // ROW Styling
  display: block;
  width: 950px;
  margin: 0 auto;
  }

.item_row{
  display: block;
  width: 950px;
  margin: 0 auto;
  }

.collection{
  position: relative;
  width: 288px;
  height: 188px;
  display: inline-block;
  background-color: white;
  border: 1px solid gray;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
  overflow: hidden;
}

.collection_item{
  height: 228px;

}

.last_item{         
  margin-right: 0;
}

.collection a{
  position: relative;
  text-decoration:none;
  display: block;
  color: white;
  padding: 0;
  margin: 0;
}

.collection a:hover > .collection_title{
  background-color: rgba(0, 0, 0, 0.8);
}

.collection img{
  padding: 0;
  margin: 0;
  width: 288px;
  height: 188px;
}

.collection_title{
  position: relative;
  width: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-top: -38px;
  text-align: center;
}

.item_details{
  position: relative;
  width: auto;
  margin-top: 5px;
}

.add_item_cart img{
  width: 45px;
  height: 45px;
  float: right;
  margin-right: 5px;
  margin-top: -8px;

}

.collection p, h3{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8C8C8C;
  font-size: 0.8em;
  padding-bottom: 2px;
}

.footer_menu{
  border-bottom: solid 2px #F0EBED;
  margin: 0 auto;
  width: 520px;
  margin-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  color: #a1a1a1;
}

.footer_menu a{
  text-decoration:none;
  color: #a1a1a1;
}

.about_content{
  width: 935px;
  height: auto;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 30px;
  padding: 5px;
  margin-bottom: 50px;
}

.about_content h2,
.about_content p{
  color: #a1a1a1;
  margin: 30px;
}

.about_content p{
  font-size: 0.8em;
  line-height: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.return_info{
  color: #a1a1a1;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  margin: 30px auto;
  width: 70%;
}

.return_info th,
.return_info td{
  text-align: left;
  padding: 10px;
}

.return_info th{
  background-color: #E3DCDE;
  color: #a1a1a1;
  border: 1px solid #888;

}

.return_info td{
  border-bottom: 1px solid #888;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.paid_by{
  width: 200px;
}

/* Start - Shopping Cart Header */


.sh_cart_header h4{
  display: inline-block;
  width: 100px;
  margin-left: 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #a1a1a1;
  margin-bottom: 5px;
}

.sh_cart_header .item{
  margin-left: 0px;
}

.sh_cart_header .title{
  margin-left: 90px;
}

.sh_cart_header .price{
  margin-left: 100px;
}

.sh_cart_header{
  width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #a1a1a1;
}

 .sh_cart_pics {
  margin-left: 15px;
  margin-top: 15px;
}

.sh_cart_items .sh_cart_title{
  margin-left: 210px;
  width: 180px;

}

.sh_cart_items .sh_cart_title a{
  text-decoration: none;
  color: #96113D;
}

.sh_cart_items ul li{
 list-style: none;
 display: inline-block;
 width: 80px;
 height: 100px;
 float: left;
 margin-left: 30px;
 margin-top: -90px;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 0.9em;
 color: #96113D;

}

.sh_cart_update > form > input{
  width: 40px;
}

.sh_cart_items .sh_cart_quantity{
  margin-left: 130px;
}

.sh_cart_items .sh_cart_update{
  margin-left: 80px;
}

.sh_cart_items .sh_cart_update a{
  text-decoration: none;
  color: #96113D;
}
 
 /* Checkout button*/



    .checkout_button {
        
        -moz-box-shadow:inset 0px 0px 11px -33px #f2fadc;
        -webkit-box-shadow:inset 0px 0px 11px -33px #f2fadc;
        box-shadow:inset 0px 0px 11px -33px #f2fadc;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
        background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
        
        background-color:#dbe6c4;
        
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
        
        border:1px solid #b2b8ad;
        
        display:inline-block;
        color:#757d6f;
        font-family:arial;
        font-size:20px;
        font-weight:bold;
        padding:10px 50px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ced9bf;
        
    }
    .checkout_button:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
        background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
        
        background-color:#9ba892;
    }
    .checkout_button:active {
        position:relative;
        top:1px;
    }


.checkout_button a{
  text-decoration:none;
}

.total_amount p{
  margin-left: 725px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #96113D;
}

.checkout_button{
  margin-left: 725px;
  
}















    






